canvas{
   position: relative;
   background: white;
   border: thin solid black;
   box-sizing: border-box;
   border: thin solid #fff;
}
#contador{
   position: absolute;
   right: 20px;
   top: 20px;
   background: #000;
   padding: 20px;
   font-size: 35px;
   color: #fff;
}
#gameOverImg{
   position: absolute;
   bottom: 20px;
   right: 20px;
   width: 350px;
   height: 250px;
   display: none;
}
#msgGameOver{
   position: absolute;
   right: 20px;
   top: 350px;
}
#containerVidas img{
   position: relative;
   width: 30px;
   height: 30px;
}
#containerVidas{
   display: inline;
}
#containerGame{
   position: absolute;
   max-width: 1200px;
   min-width: 1200px;
   border: #000 thin solid;
   padding: 15px;
   box-sizing: border-box;
   color: #fff;
   background: #000;
}